In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/crime_csv_all_years.csv')
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,11,23,0.0,1.0,13XX W GEORGIA ST,Central Business District,490745.08,5459529.81
1,Theft from Vehicle,2003,5,9,18.0,0.0,30XX W 8TH AVE,Kitsilano,487465.51,5456929.11
2,Offence Against a Person,2003,3,9,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00
3,Offence Against a Person,2003,1,20,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00
4,Break and Enter Commercial,2003,2,7,0.0,30.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55

In [3]:
df.dropna(inplace=True)
#remove missing data, all (or nearly all) of which is the non-property crime data

In [4]:
df.rename(index=str, columns={"YEAR": "year", "MONTH": "month", "DAY":"day","HOUR":"hour", "MINUTE":"minute", "NEIGHBOURHOOD":"neighbourhood"},inplace=True)
#rename columns as all caps is annoying

In [5]:
df.head()

,TYPE,year,month,day,hour,minute,HUNDRED_BLOCK,neighbourhood,X,Y
0,Theft from Vehicle,2003,11,23,0.0,1.0,13XX W GEORGIA ST,Central Business District,490745.08,5459529.81
1,Theft from Vehicle,2003,5,9,18.0,0.0,30XX W 8TH AVE,Kitsilano,487465.51,5456929.11
4,Break and Enter Commercial,2003,2,7,0.0,30.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55
5,Break and Enter Commercial,2003,6,2,3.0,4.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55
6,Mischief,2003,12,31,8.0,40.0,10XX W GEORGIA ST,West End,491128.32,5459137.86

In [6]:
df.sort_values(['year','month','day','hour','minute'],inplace=True)
#sort by date

In [7]:
df.drop(['minute', 'HUNDRED_BLOCK','TYPE'], axis=1,inplace=True)
#remove extraneous data

In [8]:
df.apply(pd.to_numeric, errors='ignore')

,year,month,day,hour,neighbourhood,X,Y
2148,2003,1,1,0.0,Central Business District,490968.94,5457901.26
3215,2003,1,1,0.0,Central Business District,492231.06,5458545.72
7453,2003,1,1,0.0,Kitsilano,488324.36,5457580.13
18527,2003,1,1,0.0,Grandview-Woodland,494981.08,5458118.12
32204,2003,1,1,0.0,Central Business District,490849.97,5458442.50
34232,2003,1,1,0.0,Sunset,494285.25,5453254.66
34819,2003,1,1,0.0,Shaughnessy,490707.25,5455045.50
45038,2003,1,1,0.0,Fairview,490791.12,5456127.88
48249,2003,1,1,0.0,Victoria-Fraserview,495220.95,5452631.14
48331,2003,1,1,0.0,Killarney,497388.60,5451449.73
48386,2003,1,1,0.0,Kitsilano,487421.31,5457307.47
5783,2003,1,1,0.0,Victoria-Fraserview,496028.76,5452569.01
7935,2003,1,1,0.0,Dunbar-Southlands,486837.11,5453468.15
36817,2003,1,1,0.0,Central Business District,490705.34,5458446.09
9491,2003,1,1,0.0,West End,490687.00,5458867.00
28294,2003,1,1,0.0,Grandview-Woodland,495279.46,5458105.92
12387,2003,1,1,0.0,Marpole,489683.62,5450960.73
19542,2003,1,1,0.0,Central Business District,491613.02,5459490.77
38679,2003,1,1,0.0,Central Business District,492183.96,5458755.30
25321,2003,1,1,1.0,Marpole,490174.85,5450028.53
37664,2003,1,1,1.0,Central Business District,491084.84,5458236.56
7887,2003,1,1,1.0,Hastings-Sunrise,495898.84,5459438.82
30338,2003,1,1,1.0,West End,490830.09,5459359.47
20978,2003,1,1,1.0,Grandview-Woodland,495107.25,5459083.57
34610,2003,1,1,1.0,Kitsilano,488772.00,5457479.02
17137,2003,1,1,1.0,Riley Park,492627.84,5454543.55
21022,2003,1,1,1.0,Riley Park,492627.84,5454543.55
12711,2003,1,1,2.0,Central Business District,491424.48,5458592.56
20710,2003,1,1,2.0,Grandview-Woodland,495086.32,5457705.34
25439,2003,1,1,2.0,Marpole,490135.31,5450044.63
...,...,...,...,...,...,...,...
516214,2017,12,31,18.0,Central Business District,491418.35,5459316.48
516314,2017,12,31,19.0,Mount Pleasant,492792.81,5456280.14
521894,2017,12,31,19.0,Arbutus Ridge,487967.59,5455463.07
536401,2017,12,31,19.0,Central Business District,491077.60,5459646.40
537568,2017,12,31,19.0,Central Business District,492568.48,5458948.15
545081,2017,12,31,19.0,Kitsilano,488985.94,5456690.39
530221,2017,12,31,19.0,Strathcona,492749.79,5458737.38
516215,2017,12,31,19.0,Central Business District,491418.35,5459316.48
520364,2017,12,31,19.0,Central Business District,492708.13,5458743.35
516956,2017,12,31,20.0,Central Business District,491675.88,5458852.30
536032,2017,12,31,20.0,Mount Pleasant,492641.34,5456186.17
528238,2017,12,31,20.0,Central Business District,491792.62,5459107.60
530309,2017,12,31,20.0,Renfrew-Collingwood,498093.23,5453652.26
538885,2017,12,31,21.0,Strathcona,493343.96,5458746.52
537768,2017,12,31,21.0,West End,490142.37,5458327.25
517281,2017,12,31,21.0,Central Business District,492204.65,5459031.28
545516,2017,12,31,21.0,Killarney,497813.26,5450575.08
546338,2017,12,31,21.0,Central Business District,492749.00,5458737.00
537938,2017,12,31,21.0,Central Business District,492562.43,5458743.62
531741,2017,12,31,21.0,Central Business District,491643.47,5459104.17
515480,2017,12,31,22.0,Mount Pleasant,492792.02,5456766.83
518006,2017,12,31,22.0,Killarney,498115.77,5452422.80
526103,2017,12,31,22.0,Central Business District,491483.77,5459051.57
529876,2017,12,31,22.0,Central Business District,492572.48,5458325.91
529235,2017,12,31,22.0,Shaughnessy,489391.98,5454884.64
525614,2017,12,31,23.0,West End,490091.15,5460086.61
542040,2017,12,31,23.0,Sunset,493176.58,5453348.10
548210,2017,12,31,23.0,Sunset,493176.58,5453348.10
515914,2017,12,31,23.0,Central Business District,492276.91,5458683.67
536621,2017,12,31,23.0,Central Business District,491747.04,5458780.89

In [9]:
#bin by 12am-8am, 8am-4pm, 4pm -12am
hourbins = [-0.1,8.0,16.0,24.1]
hourlabels = ['1200am-0759am', '0800am-0359pm', '0400pm-1159pm']
df['day_segment'] = pd.cut(df["hour"], bins=hourbins,labels=hourlabels)

In [10]:
df=df[['year', 'month', 'day', 'day_segment', 'neighbourhood']]
#group by neighborhood, by day_segment

In [11]:
df.head()

       year  month  day    day_segment              neighbourhood
2148   2003      1    1  1200am-0759am  Central Business District
3215   2003      1    1  1200am-0759am  Central Business District
7453   2003      1    1  1200am-0759am                  Kitsilano
18527  2003      1    1  1200am-0759am         Grandview-Woodland
32204  2003      1    1  1200am-0759am  Central Business District

In [12]:
df=df.groupby(df.columns.tolist()).size()

In [13]:
df.groupby(['year','month', 'day']).ngroups

5479

In [14]:
df.head()

year  month  day  day_segment    neighbourhood
2003  1      1    1200am-0759am  Central Business District    14
                                 Dunbar-Southlands             1
                                 Fairview                      1
                                 Grandview-Woodland            6
                                 Hastings-Sunrise              3
dtype: int64

In [15]:
df=pd.DataFrame(df).reset_index()

In [16]:
df.rename(index=str, columns={ 0 :"number_of_crimes"},inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206124 entries, 0 to 206123
Data columns (total 6 columns):
year                206124 non-null int64
month               206124 non-null int64
day                 206124 non-null int64
day_segment         206124 non-null category
neighbourhood       206124 non-null object
number_of_crimes    206124 non-null int64
dtypes: category(1), int64(4), object(1)
memory usage: 9.6+ MB

In [18]:
df.isnull().sum()

year                0
month               0
day                 0
day_segment         0
neighbourhood       0
number_of_crimes    0
dtype: int64

In [19]:
df

,year,month,day,day_segment,neighbourhood,number_of_crimes
0,2003,1,1,1200am-0759am,Central Business District,14
1,2003,1,1,1200am-0759am,Dunbar-Southlands,1
2,2003,1,1,1200am-0759am,Fairview,1
3,2003,1,1,1200am-0759am,Grandview-Woodland,6
4,2003,1,1,1200am-0759am,Hastings-Sunrise,3
5,2003,1,1,1200am-0759am,Kensington-Cedar Cottage,3
6,2003,1,1,1200am-0759am,Kerrisdale,1
7,2003,1,1,1200am-0759am,Killarney,1
8,2003,1,1,1200am-0759am,Kitsilano,3
9,2003,1,1,1200am-0759am,Marpole,3
10,2003,1,1,1200am-0759am,Mount Pleasant,3
11,2003,1,1,1200am-0759am,Renfrew-Collingwood,3
12,2003,1,1,1200am-0759am,Riley Park,2
13,2003,1,1,1200am-0759am,Shaughnessy,1
14,2003,1,1,1200am-0759am,Strathcona,2
15,2003,1,1,1200am-0759am,Sunset,2
16,2003,1,1,1200am-0759am,Victoria-Fraserview,5
17,2003,1,1,1200am-0759am,West End,4
18,2003,1,1,0800am-0359pm,Arbutus Ridge,1
19,2003,1,1,0800am-0359pm,Central Business District,13
20,2003,1,1,0800am-0359pm,Grandview-Woodland,4
21,2003,1,1,0800am-0359pm,Hastings-Sunrise,1
22,2003,1,1,0800am-0359pm,Kensington-Cedar Cottage,4
23,2003,1,1,0800am-0359pm,Killarney,1
24,2003,1,1,0800am-0359pm,Kitsilano,1
25,2003,1,1,0800am-0359pm,Mount Pleasant,5
26,2003,1,1,0800am-0359pm,Renfrew-Collingwood,3
27,2003,1,1,0800am-0359pm,Riley Park,4
28,2003,1,1,0800am-0359pm,South Cambie,4
29,2003,1,1,0800am-0359pm,Strathcona,2
...,...,...,...,...,...,...
206094,2017,12,31,1200am-0759am,Strathcona,1
206095,2017,12,31,1200am-0759am,Sunset,1
206096,2017,12,31,1200am-0759am,Victoria-Fraserview,2
206097,2017,12,31,0800am-0359pm,Arbutus Ridge,1
206098,2017,12,31,0800am-0359pm,Central Business District,13
206099,2017,12,31,0800am-0359pm,Dunbar-Southlands,1
206100,2017,12,31,0800am-0359pm,Fairview,3
206101,2017,12,31,0800am-0359pm,Grandview-Woodland,2
206102,2017,12,31,0800am-0359pm,Hastings-Sunrise,1
206103,2017,12,31,0800am-0359pm,Kensington-Cedar Cottage,1
206104,2017,12,31,0800am-0359pm,Kitsilano,1
206105,2017,12,31,0800am-0359pm,Mount Pleasant,4
206106,2017,12,31,0800am-0359pm,Oakridge,2
206107,2017,12,31,0800am-0359pm,Renfrew-Collingwood,4
206108,2017,12,31,0800am-0359pm,Riley Park,1
206109,2017,12,31,0800am-0359pm,Shaughnessy,1
206110,2017,12,31,0800am-0359pm,Stanley Park,1
206111,2017,12,31,0800am-0359pm,Victoria-Fraserview,1
206112,2017,12,31,0800am-0359pm,West End,2
206113,2017,12,31,0400pm-1159pm,Arbutus Ridge,1
206114,2017,12,31,0400pm-1159pm,Central Business District,17
206115,2017,12,31,0400pm-1159pm,Grandview-Woodland,1
206116,2017,12,31,0400pm-1159pm,Killarney,3
206117,2017,12,31,0400pm-1159pm,Kitsilano,1
206118,2017,12,31,0400pm-1159pm,Mount Pleasant,3
206119,2017,12,31,0400pm-1159pm,Renfrew-Collingwood,2
206120,2017,12,31,0400pm-1159pm,Shaughnessy,1
206121,2017,12,31,0400pm-1159pm,Strathcona,2
206122,2017,12,31,0400pm-1159pm,Sunset,3
206123,2017,12,31,0400pm-1159pm,West End,3

In [20]:
wdf=pd.read_csv('data/Blaine.csv')

In [21]:
wdf.tail()

,STATION,NAME,DATE,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01
4675,USC00450729,"BLAINE, WA US",12/27/17,NaN,0.46,NaN,NaN,33.0,26.0,NaN,NaN
4676,USC00450729,"BLAINE, WA US",12/28/17,NaN,0.52,NaN,NaN,44.0,30.0,NaN,NaN
4677,USC00450729,"BLAINE, WA US",12/29/17,NaN,0.92,NaN,NaN,36.0,30.0,NaN,NaN
4678,USC00450729,"BLAINE, WA US",12/30/17,NaN,0.06,NaN,NaN,40.0,25.0,NaN,NaN
4679,USC00450729,"BLAINE, WA US",12/31/17,NaN,0.00,NaN,NaN,40.0,31.0,NaN,NaN

In [22]:
wdf=wdf[['DATE','PRCP','TMAX','TMIN']]
wdf.rename(index=str, columns={ "PRCP": "prcp", "TMAX":"tmax","TMIN":"tmin"},inplace=True)

In [23]:
wdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4680 entries, 0 to 4679
Data columns (total 4 columns):
DATE    4680 non-null object
prcp    4647 non-null float64
tmax    4637 non-null float64
tmin    4635 non-null float64
dtypes: float64(3), object(1)
memory usage: 182.8+ KB

In [24]:
wdf.interpolate(inplace=True)

In [25]:
wdf.isnull().sum()

DATE    0
prcp    0
tmax    0
tmin    0
dtype: int64

In [ ]:
wdf['year'] = wdf.DATE.str.split('-').str.get(0)
wdf['month'] = wdf.DATE.str.split('-').str.get(1) 
wdf['day'] = wdf.DATE.str.split('-').str.get(2) 
wdf.drop('DATE', axis=1,inplace=True)

In [ ]:
wdf[]

In [ ]:
wdf.info()

In [ ]:
wdf=wdf.apply(pd.to_numeric, errors='ignore')

In [ ]:
wdf.info()

In [ ]:
wdf

In [ ]:
wdf.isnull().sum()

In [ ]:
new_df1=pd.merge(df,wdf, how='left', on=['year','month','day'])

In [ ]:
new_df1.info()

In [ ]:
new_df1.isnull().sum()

In [ ]:
cpi_df=pd.read_csv('data/consumer_price_index_nohead.csv')

In [ ]:
cpi_df['year'] = cpi_df.date.str.split('-').str.get(1)
cpi_df['month'] = cpi_df.date.str.split('-').str.get(0) 
cpi_df.drop('date', axis=1,inplace=True)

In [ ]:
import calendar
d=dict((v,k) for k,v in enumerate(calendar.month_abbr))
cpi_df.month=cpi_df.month.map(d)

cpi_df.year='20'+ cpi_df.year

In [ ]:
cpi_df=cpi_df.apply(pd.to_numeric, errors='ignore')

In [ ]:
new_df2=pd.merge(new_df1,cpi_df, how='inner', on=['year','month'])

In [ ]:
new_df2.info(0)

In [ ]:
new_df2.isnull().sum()

In [ ]:
gdp_df=pd.read_csv('data/gdp_2007dollars_nohead.csv')

In [ ]:
gdp_df.head()

In [ ]:
gdp_df['year'] = gdp_df.date.str.split('-').str.get(1)
gdp_df['month'] = gdp_df.date.str.split('-').str.get(0) 
gdp_df.drop('date', axis=1,inplace=True)

In [ ]:
import calendar
d=dict((v,k) for k,v in enumerate(calendar.month_abbr))
gdp_df.month=gdp_df.month.map(d)

gdp_df.year='20'+ gdp_df.year

In [ ]:
gdp_df=gdp_df.apply(pd.to_numeric, errors='ignore')

In [ ]:
new_df3=pd.merge(new_df2,gdp_df, how='inner', on=['year','month'])

In [ ]:
new_df3.info()

In [ ]:
new_df3.isnull().sum()

In [ ]:
emp_df=pd.read_csv('data/employment_nohead.csv')

In [ ]:
emp_df.head()

In [ ]:
emp_df['year'] = emp_df.date.str.split('-').str.get(1)
emp_df['month'] = emp_df.date.str.split('-').str.get(0) 
emp_df.drop('date', axis=1,inplace=True)

In [ ]:
import calendar
d=dict((v,k) for k,v in enumerate(calendar.month_abbr))
emp_df.month=emp_df.month.map(d)

emp_df.year='20'+ emp_df.year

In [ ]:
emp_df=emp_df.apply(pd.to_numeric, errors='ignore')

In [ ]:
new_df4=pd.merge(new_df3,emp_df, how='inner', on=['year','month'])

In [ ]:
new_df4.head()

In [ ]:
new_df4.info()

In [ ]:
new_df4.isnull().sum()