In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/crime_csv_all_years.csv')

In [3]:
df.dropna(inplace=True)
#remove missing data, all (or nearly all) of which is the non-property crime data

In [4]:
df.rename(index=str, columns={"YEAR": "year", "MONTH": "month", "DAY":"day","HOUR":"hour", "MINUTE":"minute", "NEIGHBOURHOOD":"neighbourhood"},inplace=True)
#rename columns as all caps is annoying

In [5]:
df.head()

,TYPE,year,month,day,hour,minute,HUNDRED_BLOCK,neighbourhood,X,Y
0,Theft from Vehicle,2003,11,23,0.0,1.0,13XX W GEORGIA ST,Central Business District,490745.08,5459529.81
1,Theft from Vehicle,2003,5,9,18.0,0.0,30XX W 8TH AVE,Kitsilano,487465.51,5456929.11
4,Break and Enter Commercial,2003,2,7,0.0,30.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55
5,Break and Enter Commercial,2003,6,2,3.0,4.0,71XX VICTORIA DR,Victoria-Fraserview,495196.35,5451832.55
6,Mischief,2003,12,31,8.0,40.0,10XX W GEORGIA ST,West End,491128.32,5459137.86

In [6]:
df.sort_values(['year','month','day','hour','minute'],inplace=True)
#sort by date

In [7]:
df.drop(['minute', 'HUNDRED_BLOCK','TYPE'], axis=1,inplace=True)
#remove extraneous data

In [8]:
df.apply(pd.to_numeric, errors='ignore')

,year,month,day,hour,neighbourhood,X,Y
2148,2003,1,1,0.0,Central Business District,490968.94,5457901.26
3215,2003,1,1,0.0,Central Business District,492231.06,5458545.72
7453,2003,1,1,0.0,Kitsilano,488324.36,5457580.13
18527,2003,1,1,0.0,Grandview-Woodland,494981.08,5458118.12
32204,2003,1,1,0.0,Central Business District,490849.97,5458442.50
34232,2003,1,1,0.0,Sunset,494285.25,5453254.66
34819,2003,1,1,0.0,Shaughnessy,490707.25,5455045.50
45038,2003,1,1,0.0,Fairview,490791.12,5456127.88
48249,2003,1,1,0.0,Victoria-Fraserview,495220.95,5452631.14
48331,2003,1,1,0.0,Killarney,497388.60,5451449.73
48386,2003,1,1,0.0,Kitsilano,487421.31,5457307.47
5783,2003,1,1,0.0,Victoria-Fraserview,496028.76,5452569.01
7935,2003,1,1,0.0,Dunbar-Southlands,486837.11,5453468.15
36817,2003,1,1,0.0,Central Business District,490705.34,5458446.09
9491,2003,1,1,0.0,West End,490687.00,5458867.00
28294,2003,1,1,0.0,Grandview-Woodland,495279.46,5458105.92
12387,2003,1,1,0.0,Marpole,489683.62,5450960.73
19542,2003,1,1,0.0,Central Business District,491613.02,5459490.77
38679,2003,1,1,0.0,Central Business District,492183.96,5458755.30
25321,2003,1,1,1.0,Marpole,490174.85,5450028.53
37664,2003,1,1,1.0,Central Business District,491084.84,5458236.56
7887,2003,1,1,1.0,Hastings-Sunrise,495898.84,5459438.82
30338,2003,1,1,1.0,West End,490830.09,5459359.47
20978,2003,1,1,1.0,Grandview-Woodland,495107.25,5459083.57
34610,2003,1,1,1.0,Kitsilano,488772.00,5457479.02
17137,2003,1,1,1.0,Riley Park,492627.84,5454543.55
21022,2003,1,1,1.0,Riley Park,492627.84,5454543.55
12711,2003,1,1,2.0,Central Business District,491424.48,5458592.56
20710,2003,1,1,2.0,Grandview-Woodland,495086.32,5457705.34
25439,2003,1,1,2.0,Marpole,490135.31,5450044.63
...,...,...,...,...,...,...,...
560014,2018,4,19,9.0,Kerrisdale,489450.74,5453147.77
553985,2018,4,19,10.0,Arbutus Ridge,487810.51,5455374.62
553349,2018,4,19,11.0,Riley Park,492622.87,5454382.49
551453,2018,4,19,12.0,Marpole,492133.88,5451085.44
555392,2018,4,19,12.0,Central Business District,491117.43,5458996.15
553150,2018,4,19,12.0,Killarney,497805.83,5453242.00
556050,2018,4,19,13.0,Kitsilano,487757.88,5457304.72
551789,2018,4,19,13.0,West End,491151.77,5459036.23
551047,2018,4,19,13.0,Sunset,493939.05,5451801.93
555159,2018,4,19,13.0,Central Business District,491359.53,5458663.12
560429,2018,4,19,13.0,Killarney,498101.15,5452074.24
555492,2018,4,19,14.0,Central Business District,491720.70,5459179.65
560450,2018,4,19,14.0,Kensington-Cedar Cottage,494922.84,5456615.84
554623,2018,4,19,15.0,Central Business District,491369.94,5458247.75
558609,2018,4,19,15.0,Grandview-Woodland,495371.00,5458717.00
555295,2018,4,19,15.0,Central Business District,491117.43,5458996.15
555521,2018,4,19,15.0,Marpole,489762.86,5450783.83
556308,2018,4,19,16.0,Shaughnessy,489697.66,5455569.44
557762,2018,4,19,16.0,Grandview-Woodland,494999.85,5456623.73
557612,2018,4,19,17.0,Strathcona,493650.59,5457558.72
557359,2018,4,19,17.0,Mount Pleasant,492936.76,5456669.24
551190,2018,4,19,18.0,Central Business District,491566.37,5458460.38
555614,2018,4,19,18.0,Mount Pleasant,491657.21,5456952.73
554476,2018,4,19,19.0,Oakridge,490664.92,5452750.53
558919,2018,4,19,19.0,Central Business District,491886.00,5458643.00
553021,2018,4,19,19.0,Kitsilano,489234.74,5457264.32
556514,2018,4,19,20.0,Strathcona,493071.47,5458931.50
550752,2018,4,19,20.0,Central Business District,492749.16,5458835.08
554165,2018,4,19,20.0,Central Business District,491083.06,5458397.69
558908,2018,4,19,22.0,Central Business District,492175.41,5459048.55

In [9]:
#bin by 12am-8am, 8am-4pm, 4pm -12am
hourbins = [-0.1,8.0,16.0,24.1]
hourlabels = ['1200am-0759am', '0800am-0359pm', '0400pm-1159pm']
df['day_segment'] = pd.cut(df["hour"], bins=hourbins,labels=hourlabels)

In [10]:
df=df[['year', 'month', 'day', 'day_segment', 'neighbourhood']]
#group by neighborhood, by day_segment

In [11]:
df.head()

       year  month  day    day_segment              neighbourhood
2148   2003      1    1  1200am-0759am  Central Business District
3215   2003      1    1  1200am-0759am  Central Business District
7453   2003      1    1  1200am-0759am                  Kitsilano
18527  2003      1    1  1200am-0759am         Grandview-Woodland
32204  2003      1    1  1200am-0759am  Central Business District

In [12]:
df=df.groupby(df.columns.tolist()).size()

In [13]:
df=pd.DataFrame(df).reset_index()

In [14]:
df.rename(index=str, columns={ 0 :"number_of_crimes"},inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 210029 entries, 0 to 210028
Data columns (total 6 columns):
year                210029 non-null int64
month               210029 non-null int64
day                 210029 non-null int64
day_segment         210029 non-null category
neighbourhood       210029 non-null object
number_of_crimes    210029 non-null int64
dtypes: category(1), int64(4), object(1)
memory usage: 9.8+ MB

In [16]:
df.isnull().sum()

year                0
month               0
day                 0
day_segment         0
neighbourhood       0
number_of_crimes    0
dtype: int64

In [17]:
df

,year,month,day,day_segment,neighbourhood,number_of_crimes
0,2003,1,1,1200am-0759am,Central Business District,14
1,2003,1,1,1200am-0759am,Dunbar-Southlands,1
2,2003,1,1,1200am-0759am,Fairview,1
3,2003,1,1,1200am-0759am,Grandview-Woodland,6
4,2003,1,1,1200am-0759am,Hastings-Sunrise,3
5,2003,1,1,1200am-0759am,Kensington-Cedar Cottage,3
6,2003,1,1,1200am-0759am,Kerrisdale,1
7,2003,1,1,1200am-0759am,Killarney,1
8,2003,1,1,1200am-0759am,Kitsilano,3
9,2003,1,1,1200am-0759am,Marpole,3
10,2003,1,1,1200am-0759am,Mount Pleasant,3
11,2003,1,1,1200am-0759am,Renfrew-Collingwood,3
12,2003,1,1,1200am-0759am,Riley Park,2
13,2003,1,1,1200am-0759am,Shaughnessy,1
14,2003,1,1,1200am-0759am,Strathcona,2
15,2003,1,1,1200am-0759am,Sunset,2
16,2003,1,1,1200am-0759am,Victoria-Fraserview,5
17,2003,1,1,1200am-0759am,West End,4
18,2003,1,1,0800am-0359pm,Arbutus Ridge,1
19,2003,1,1,0800am-0359pm,Central Business District,13
20,2003,1,1,0800am-0359pm,Grandview-Woodland,4
21,2003,1,1,0800am-0359pm,Hastings-Sunrise,1
22,2003,1,1,0800am-0359pm,Kensington-Cedar Cottage,4
23,2003,1,1,0800am-0359pm,Killarney,1
24,2003,1,1,0800am-0359pm,Kitsilano,1
25,2003,1,1,0800am-0359pm,Mount Pleasant,5
26,2003,1,1,0800am-0359pm,Renfrew-Collingwood,3
27,2003,1,1,0800am-0359pm,Riley Park,4
28,2003,1,1,0800am-0359pm,South Cambie,4
29,2003,1,1,0800am-0359pm,Strathcona,2
...,...,...,...,...,...,...
209999,2018,4,18,0400pm-1159pm,Strathcona,1
210000,2018,4,18,0400pm-1159pm,Sunset,3
210001,2018,4,18,0400pm-1159pm,West End,2
210002,2018,4,19,1200am-0759am,Arbutus Ridge,1
210003,2018,4,19,1200am-0759am,Central Business District,9
210004,2018,4,19,1200am-0759am,Grandview-Woodland,1
210005,2018,4,19,1200am-0759am,Hastings-Sunrise,2
210006,2018,4,19,1200am-0759am,Kensington-Cedar Cottage,1
210007,2018,4,19,1200am-0759am,Killarney,2
210008,2018,4,19,1200am-0759am,Riley Park,1
210009,2018,4,19,1200am-0759am,Strathcona,1
210010,2018,4,19,1200am-0759am,Sunset,1
210011,2018,4,19,1200am-0759am,West End,3
210012,2018,4,19,0800am-0359pm,Arbutus Ridge,1
210013,2018,4,19,0800am-0359pm,Central Business District,5
210014,2018,4,19,0800am-0359pm,Grandview-Woodland,2
210015,2018,4,19,0800am-0359pm,Kensington-Cedar Cottage,1
210016,2018,4,19,0800am-0359pm,Kerrisdale,1
210017,2018,4,19,0800am-0359pm,Killarney,2
210018,2018,4,19,0800am-0359pm,Kitsilano,1
210019,2018,4,19,0800am-0359pm,Marpole,2
210020,2018,4,19,0800am-0359pm,Riley Park,1
210021,2018,4,19,0800am-0359pm,Shaughnessy,1
210022,2018,4,19,0800am-0359pm,Sunset,1
210023,2018,4,19,0800am-0359pm,West End,1
210024,2018,4,19,0400pm-1159pm,Central Business District,5
210025,2018,4,19,0400pm-1159pm,Kitsilano,1
210026,2018,4,19,0400pm-1159pm,Mount Pleasant,2
210027,2018,4,19,0400pm-1159pm,Oakridge,1
210028,2018,4,19,0400pm-1159pm,Strathcona,2

In [33]:
df['year','month','day'].nunique()

KeyError: ('year', 'month', 'day')

In [18]:
wdf=pd.read_csv('data/Blaine.csv')

In [19]:
wdf.head()

,STATION,NAME,DATE,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01
0,USC00450729,"BLAINE, WA US",2003-01-01,NaN,0.43,0.0,0.0,45.0,38.0,39.0,NaN
1,USC00450729,"BLAINE, WA US",2003-01-02,NaN,0.87,0.0,0.0,54.0,39.0,54.0,NaN
2,USC00450729,"BLAINE, WA US",2003-01-03,NaN,0.33,0.0,0.0,54.0,40.0,47.0,NaN
3,USC00450729,"BLAINE, WA US",2003-01-04,NaN,0.77,0.0,0.0,53.0,43.0,51.0,NaN
4,USC00450729,"BLAINE, WA US",2003-01-05,NaN,0.00,0.0,0.0,52.0,37.0,47.0,NaN

In [20]:
wdf=wdf[['DATE','PRCP','TMAX','TMIN']]
wdf.rename(index=str, columns={ "PRCP": "prcp", "TMAX":"tmax","TMIN":"tmin"},inplace=True)

In [21]:
wdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4718 entries, 0 to 4717
Data columns (total 4 columns):
DATE    4718 non-null object
prcp    4684 non-null float64
tmax    4675 non-null float64
tmin    4673 non-null float64
dtypes: float64(3), object(1)
memory usage: 184.3+ KB

In [22]:
wdf.interpolate(inplace=True)

In [23]:
wdf.isnull().sum()

DATE    0
prcp    0
tmax    0
tmin    0
dtype: int64

In [24]:
wdf['year'] = wdf.DATE.str.split('-').str.get(0)
wdf['month'] = wdf.DATE.str.split('-').str.get(1) 
wdf['day'] = wdf.DATE.str.split('-').str.get(2) 
wdf.drop('DATE', axis=1,inplace=True)

In [25]:
wdf.head()

   prcp  tmax  tmin  year month day
0  0.43  45.0  38.0  2003    01  01
1  0.87  54.0  39.0  2003    01  02
2  0.33  54.0  40.0  2003    01  03
3  0.77  53.0  43.0  2003    01  04
4  0.00  52.0  37.0  2003    01  05

In [26]:
wdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4718 entries, 0 to 4717
Data columns (total 6 columns):
prcp     4718 non-null float64
tmax     4718 non-null float64
tmin     4718 non-null float64
year     4718 non-null object
month    4718 non-null object
day      4718 non-null object
dtypes: float64(3), object(3)
memory usage: 258.0+ KB

In [27]:
wdf=wdf.apply(pd.to_numeric, errors='ignore')

In [28]:
wdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4718 entries, 0 to 4717
Data columns (total 6 columns):
prcp     4718 non-null float64
tmax     4718 non-null float64
tmin     4718 non-null float64
year     4718 non-null int64
month    4718 non-null int64
day      4718 non-null int64
dtypes: float64(3), int64(3)
memory usage: 258.0+ KB

In [29]:
wdf

      prcp  tmax  tmin  year  month  day
0     0.43  45.0  38.0  2003      1    1
1     0.87  54.0  39.0  2003      1    2
2     0.33  54.0  40.0  2003      1    3
3     0.77  53.0  43.0  2003      1    4
4     0.00  52.0  37.0  2003      1    5
5     0.00  52.0  30.0  2003      1    6
6     0.00  51.0  29.0  2003      1    7
7     0.00  49.0  29.0  2003      1    8
8     0.00  50.0  32.0  2003      1    9
9     0.00  46.0  29.0  2003      1   10
10    0.00  42.0  28.0  2003      1   11
11    0.50  43.0  38.0  2003      1   12
12    0.00  45.0  36.0  2003      1   13
13    0.00  47.0  30.0  2003      1   14
14    0.11  45.0  31.0  2003      1   15
15    0.00  45.0  32.0  2003      1   16
16    0.00  43.0  29.0  2003      1   17
17    0.00  43.0  26.0  2003      1   18
18    0.02  43.0  30.0  2003      1   19
19    0.00  45.0  41.0  2003      1   20
20    0.00  44.0  34.0  2003      1   21
21    0.30  43.0  37.0  2003      1   22
22    0.60  54.0  38.0  2003      1   23
23    0.17  52.0  43.0  2003      1   24
24    0.14  50.0  45.0  2003      1   25
25    0.90  56.0  45.0  2003      1   26
26    0.10  53.0  45.0  2003      1   27
27    0.00  50.0  37.0  2003      1   28
28    0.43  48.0  36.0  2003      1   29
29    0.11  48.0  37.0  2003      1   30
...    ...   ...   ...   ...    ...  ...
4688  0.06  44.0  35.0  2018      1    9
4689  0.14  46.0  35.0  2018      1   10
4690  1.12  35.0  34.0  2018      1   11
4691  0.66  39.0  35.0  2018      1   12
4692  0.02  46.0  35.0  2018      1   13
4693  0.00  49.0  32.0  2018      1   14
4694  0.04  54.0  35.0  2018      1   15
4695  0.12  53.0  44.0  2018      1   16
4696  0.25  50.0  44.0  2018      1   17
4697  0.01  50.0  43.0  2018      1   18
4698  0.26  48.0  44.0  2018      1   19
4699  0.06  50.0  42.0  2018      1   20
4700  0.41  51.0  42.0  2018      1   21
4701  0.00  47.0  40.0  2018      1   22
4702  0.75  42.0  39.0  2018      1   23
4703  0.08  48.0  40.0  2018      1   24
4704  0.22  42.0  37.0  2018      1   25
4705  0.31  45.0  38.0  2018      1   26
4706  0.31  42.0  35.0  2018      1   27
4707  1.07  47.0  38.0  2018      1   28
4708  0.65  48.0  39.0  2018      1   29
4709  0.01  46.0  40.0  2018      1   30
4710  0.37  44.0  38.0  2018      1   31
4711  0.00  44.0  34.0  2018      2    9
4712  0.00  42.0  31.0  2018      2   10
4713  0.00  49.0  34.0  2018      2   21
4714  0.00  38.0  19.0  2018      2   22
4715  0.61  32.0  24.0  2018      2   23
4716  0.46  47.0  39.0  2018      3    8
4717  0.00  49.0  33.0  2018      3    9

[4718 rows x 6 columns]

In [30]:
wdf.isnull().sum()

prcp     0
tmax     0
tmin     0
year     0
month    0
day      0
dtype: int64

In [31]:
new_df1=pd.merge(df,wdf, how='outer', on=['year','month','day'])

In [32]:
new_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210029 entries, 0 to 210028
Data columns (total 9 columns):
year                210029 non-null int64
month               210029 non-null int64
day                 210029 non-null int64
day_segment         210029 non-null category
neighbourhood       210029 non-null object
number_of_crimes    210029 non-null int64
prcp                172029 non-null float64
tmax                172029 non-null float64
tmin                172029 non-null float64
dtypes: category(1), float64(3), int64(4), object(1)
memory usage: 14.6+ MB

In [ ]:
new_df1.isnull().sum()

In [ ]:
cpi_df=pd.read_csv('data/consumer_price_index_nohead.csv')

In [ ]:
cpi_df['year'] = cpi_df.date.str.split('-').str.get(1)
cpi_df['month'] = cpi_df.date.str.split('-').str.get(0) 
cpi_df.drop('date', axis=1,inplace=True)

In [ ]:
import calendar
d=dict((v,k) for k,v in enumerate(calendar.month_abbr))
cpi_df.month=cpi_df.month.map(d)

cpi_df.year='20'+ cpi_df.year

In [ ]:
cpi_df=cpi_df.apply(pd.to_numeric, errors='ignore')

In [ ]:
new_df2=pd.merge(new_df1,cpi_df, how='inner', on=['year','month'])

In [ ]:
new_df2.info(0)

In [ ]:
new_df2.isnull().sum()

In [ ]:
gdp_df=pd.read_csv('data/gdp_2007dollars_nohead.csv')

In [ ]:
gdp_df.head()

In [ ]:
gdp_df['year'] = gdp_df.date.str.split('-').str.get(1)
gdp_df['month'] = gdp_df.date.str.split('-').str.get(0) 
gdp_df.drop('date', axis=1,inplace=True)

In [ ]:
import calendar
d=dict((v,k) for k,v in enumerate(calendar.month_abbr))
gdp_df.month=gdp_df.month.map(d)

gdp_df.year='20'+ gdp_df.year

In [ ]:
gdp_df=gdp_df.apply(pd.to_numeric, errors='ignore')

In [ ]:
new_df3=pd.merge(new_df2,gdp_df, how='inner', on=['year','month'])

In [ ]:
new_df3.info()

In [ ]:
new_df3.isnull().sum()

In [ ]:
emp_df=pd.read_csv('data/employment_nohead.csv')

In [ ]:
emp_df.head()

In [ ]:
emp_df['year'] = emp_df.date.str.split('-').str.get(1)
emp_df['month'] = emp_df.date.str.split('-').str.get(0) 
emp_df.drop('date', axis=1,inplace=True)

In [ ]:
import calendar
d=dict((v,k) for k,v in enumerate(calendar.month_abbr))
emp_df.month=emp_df.month.map(d)

emp_df.year='20'+ emp_df.year

In [ ]:
emp_df=emp_df.apply(pd.to_numeric, errors='ignore')

In [ ]:
new_df4=pd.merge(new_df3,emp_df, how='inner', on=['year','month'])

In [ ]:
new_df4.head()

In [ ]:
new_df4.info()

In [ ]:
new_df4.isnull().sum()